.gallery__photo_1 {
  background-image: url(../../../../images/gallery/photo_1.svg);
  width: 686px;
  height: 688px;
}

@media screen and (max-width: 1280px) {
  .gallery__photo_1 {
    width: 250px;
    height: 376px;
    background-position: center;
  }
}

@media screen and (max-width: 767px) {
  .gallery__photo_1 {
    width: 375px;
    height: 375px;
  }
}