.gallery__link {
  display: block;
  height: 336px;
  width: 335px;
  background-size: cover;
}

@media screen and (max-width: 1280px) {
  .gallery__link {
    width: 49%;
    height: 180px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__link {
    width: 180px;
    height: 180px;
  }
}