.footer__list {
  width: 335px;
  list-style-type: none;
  margin: 0;
  padding-bottom: 70px;
}

@media screen and (max-width: 1280px) {
  .footer__list {
    width: 163px;
  }
}

@media screen and (max-width: 767px) {
  .footer__list {
    padding-left: 20px;
    padding-bottom: 58px;
  }

  .footer__list:last-child {
    padding-left: 0;
  }
}
