.pajamas__left {
  width: 686px;
  height: 878px;
  background-image: url(../../../images/pajamas/pajamas-0.svg);
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 24px;
  padding-left: 24px;
  
}

@media screen and (max-width: 768px) {
  .pajamas__left {
    width: calc(100% - 24px);
    height: 480px;
    margin: 0;
    padding-top: 29px;
  }
}
